 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-family:'Rajdhani', sans-serif;;
    background-color: #553264;
    color: #fefefe;
    border-radius: 40%;
    font-family:'Rajdhani', sans-serif;
 }

 .page-heading {
   display: flex;
   justify-content: center;
 }
 
 .img-container {
    display: flex;
    justify-content: center;
 }

 img {
    width: 150px;
    height: 150px;
 }   

 .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
 }

 /*button click animation video used to help write code for shadow, transition, cursor and transform.*/
 button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f496e4c1;
    border: none;
    font-family: 'Rajdhani', sans-serif;
    padding: 10px;
    width: 80px;
    border-radius: 10rem;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
 }

 button:active {
   transform: scale(0.96);
 }

#results-tally {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
   border-radius: 5rem;
   padding: 10px;
}

h4 {
   text-align: center;
}

