 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fcfafa; 
    background-color: #270336;
    border-radius: 40%;
    font-family:'Rajdhani', sans-serif;
 }
 
 img {
    width: 150px;
    height: 150px;
 }   

 .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
 }

 button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f496e4c1;
    border: black;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 10rem;
 }

#results-tally {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}