 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey; 
    background-color: #f6edfa;
    border-radius: 40%;
 }
 
 img {
    width: 150px;
    height: 150px;
 }   


.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    border-radius: 5%;
    background-color: #808080;
    border: none;
    color: #fff;
}

#score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}